* {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}



.money {
    margin: 5% 5% 0 5%;
    padding: 2.5%;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 5px;
    text-align: center;
}
.money .weekchange {
    color: rgb(90, 90, 90);
}
.money .availableamount {
    color: rgb(170, 170, 170);
}


.navbar {
    margin: 1% 5% 5% 5%;
    padding: 2.5%;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 5px;
    text-align: center;
}
.navbar button {
    width: 30%;
    height: 3vh;
    background-color: #41344b;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 5px;
}


.device {
    margin: 1% 5% 5% 5%;
    padding: 2.5%;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 5px;
    text-align: center;
}
.device h4 {
    margin-bottom: 1.5vh;
}
.device h5 {
    font-size: 13px;
    text-align: left;
    margin-left: 10%;
    margin-top: 1.5;
}
.device input {
    margin-top: 1vh;
    border: 1px solid rgb(59, 59, 59);
    height: 3vh;
    width: 50%;
}
.device button {
    margin-top: 1vh;

    width: 30%;
    height: 3vh;
    background-color: #41344b;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 5px;
}