.add-device-mobile {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.185);
}
.add-device-mobile .page {
    background-color: aqua;
    text-align: center;
    position:fixed;
    z-index: 1001;
    top: 5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 7.5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: scroll;
}
.add-device-mobile img {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    object-fit:scale-down;
}
.add-device-mobile .info {
    text-align: left;
}
.add-device-mobile  #title {
    border-top: 1px solid rgb(165, 165, 165);
    justify-content: space-between;
    margin-bottom: 15px;
}
.add-device-mobile  #buttons {
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-row-gap: 15px;
    grid-column-gap: 4%;
}
.add-device-mobile  #buttons button {
    padding: 5px;
    border-radius: 7.5px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.295);
    font-weight: 400;
    text-align: center;
    color: #000000;
}
.add-device-mobile #add-box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    margin-bottom: 30px;
}
.add-device-mobile #add-box #undertitle {
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
.add-device-mobile #add-box .Input {
    display: flex;
    margin-bottom: 7.5px;
} 
.add-device-mobile #add-box .Input h4{
    width: 60%;
    font-weight: 200;
    font-size: 14px;
    line-height: 30px;
}
.add-device-mobile #add-box .Input input{
    width: 100%;
    margin-left: 10px;
    height: 30px;
    padding-left: 5px;
    border: 1px solid rgb(143, 143, 143);
}
.add-device-mobile #add-box .Input select {
    width: 100%;
    margin-left: 10px;
    height: 30px;
    padding-left: 5px;
    border: 1px solid rgb(143, 143, 143);
}