:root {
    --a: #663ba3;
    --b:#252525;
    --c:#ffffff;
    --d: #8b8b8b;
}
body {
    background-color: #f0f0f0;
}
#LoginForm {
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 7.5px;
    width: calc(100% - 40px);
    text-align: center;
    padding-bottom: 20px;
}
#LoginForm input{
    width: 80%;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid rgb(153, 153, 153);
    height: 30px;
    transition: all 0.5s;
    outline: none;
}
#LoginForm input:focus{
    
    border-bottom: 1px solid #8255c2;
}
#LoginForm h2 {
    margin-top: 20px;
    margin-bottom: 50px;
}
#LoginForm button {
    width: 60%;
    height: 40px;
    background-color: #7f64a5;
    border: none;
    border-radius: 14px;
    color: #ffffff;
    margin-top: 40px;
}
#LoginForm h6 {
    margin-top: 90px;
    font-size: small ;
}